/* Asterick wildcard selector to overide default stlyes */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: hsl(0, 14%, 4%);

}

/* General Styles */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

/* Style Nav links */
nav ul  {
    background-color: rgba(155, 146, 146, 0.562);
    text-align: center;
    padding: 0;
    margin: 0;
}

nav li {
    font-family: Verdana;
    font-size: large;
    line-height: 50px;
    height: fit-content;
    display: inline-block;
    margin: 2%;
}

a {
    color: hsl(0, 14%, 4%);
}

a:hover {
    color: rgb(12, 138, 138);
}

/* Style Header */
header {
    background-color: rgb(103, 194, 224);
    font-family: Verdana;
    color: hsl(0, 14%, 4%);
    padding: 20px;
    text-align: center;
}

img {

}

/* Style Main content section */
main {
    background-color: rgba(155, 146, 146, 0.562);
    flex: 1 0 auto;
    padding: 20px;
    margin: 0;
    padding: 20;
}

/* Style headings */
h1 {
    font-family: Verdana;
    font-size: 80px;
}

h2 {
    font-family: Verdana;
    font-size: 30px;
}

h3 {
    font-family: Verdana;
    font-size: 20px;
}


/* Style paragraphs */
p {
    font-family: Verdana;
    font-size: 15px;
}


/* Style Table */
table {
    font-family: Verdana;
    font-size: 15px;
    color: hsl(0, 14%, 4%);
    border-collapse: collapse;
    border: 2px solid;
    border-bottom: 2px solid;

}

/* Responsive Styles - Media Query for screens that are at least 576px wide */
@media screen and (min-width: 576px) {
   header {
    padding: 10px; 
    display: block;
    box-shadow: none;
   }

   nav a {
    margin: 0 10px;
    color: hsl(0, 14%, 4%);
    text-decoration: none;
   }
}

/* Responsive Styles - Media Query for screens that are at least 768px wide */
@media screen and (min-width: 768) {
    .container {
        padding: 20px;
    }
    
    header {
        position: sticky;
        top: 0;
        z-index: 1000;
    }
}

/* Responsive Styles - Media Query for screens that are 992px and above */
@media screen and (min-width: 992) {
    .container {
        padding: 30px;
    }
}

/* Style footer section */
footer {
    background-color: rgba(155, 146, 146, 0.562);
    color: hsl(0, 14%, 4%);
    padding: 20px;
    text-align: center;
}