/* Google Fonts import */
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,300;1,6..12,300&family=Rubik:ital,wght@0,300;1,300&display=swap');



/* Asterick wildcard selector to overide default stlyes */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: hsl(0, 14%, 4%);

}

/* General Styles */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    color: hsl(0, 14%, 4%);
    font-family: "nunito sans", sans-serif;
}

/* Style Header */
header {
    background-color: rgb(103, 194, 224);
    padding: 16px;
    position: fixed;
    z-index: 99;
    width: 100%;
    box-shadow: 0 2px 2px  hsl(0, 14%, 4%);
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

header a {
    text-decoration: none;
    color: inherit;
}

h1 {
    font-family: "Rubik", sans-serif;
    font-size: 40px;
    letter-spacing: 1px;
}

/* Style Nav links */
#nav  {
    font-size: large;
    letter-spacing: 1px;
    list-style: none;
    text-align: center;
    padding: 0;
    margin: 0;
    line-height: 50px;
    height: fit-content;
    display: inline-block;

}
#nav > li {
    margin-bottom: 1em;
}

/* Nav styles dropdown section*/
nav {
    position: absolute;
    background-color:  rgb(103, 194, 224);
    width: 100%;
    left: 0;
    padding: 0 1rem;
    box-shadow: 0 2px 2px hsl(0, 14%, 4%);
    display: none;
    top: 100%;
}

/* Nav Toggle */
#nav-toggle:checked~nav {
    display: block;
}

#nav-toggle {
    display: none;
}

.nav.toggle-label {
    font-size: 2rem;
}

a {
    color:hsl(0, 14%, 4%);
}

a:hover {
    color:rgb(12, 138, 138);
}

/* Style Main content section */
main {
    background-color: rgba(155, 146, 146, 0.562);
    flex: 1 0 auto;
    margin-top: 50px;
}

/* Style headings */


h2 {
    font-family: Verdana;
    font-size: 30px;
}

h3 {
    font-family: Verdana;
    font-size: 20px;
}


/* Style paragraphs */
p {
    font-family: Verdana;
    font-size: 15px;
}


/* Style Table */
table {
    font-family: Verdana;
    font-size: 15px;
    color: hsl(0, 14%, 4%);
    border-collapse: collapse;
    border: 2px solid;
    border-bottom: 2px solid;

}

/* Style footer section */
footer {
    background-color: rgba(155, 146, 146, 0.562);
    color: hsl(0, 14%, 4%);
    padding: 20px;
    text-align: center;
}

/* Responsive Styles - Media Query for screens that are at least 576px wide */
@media screen and (min-width: 576px) {
   header {
    padding: 10px; 
    display: block;
    box-shadow: none;
   }

   nav a {
    margin: 0 10px;
    color: hsl(0, 14%, 4%);
    text-decoration: none;
   }
}

/* Responsive Styles - Media Query for screens that are at least 768px */
@media screen and (min-width: 768) {
    /* Header */
    nav {
        display: block;
        position: relative;
        box-shadow: none;
        width: fit-content;
        padding-right: 1rem;
    }

    #nav {
        display: flex;
    }

    #nav > li {
        padding-left: 1rem;
    }

    .nav.toggle-label {
        display: none;
    }
}

/* Responsive Styles - Media Query for screens that are 992px and above */
@media screen and (min-width: 992) {
    .container {
        padding: 30px;
    }
}