/* Google Fonts import */
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;1,300&display=swap');

/* Asterick wildcard selector to overide default stlyes */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: hsl(0, 14%, 4%);

}

/* General Styles */
body {
    font-family: "Rubik", sans-serif;
    padding: 0;
    margin: 0;
    font-size: 1.5rem;
    color: hsl(0, 14%, 4%);
}

/* Headings */
h2, h3 {
    text-align: center;
    color: hsl(0, 14%, 4%);;
}

h2 {
    font-size: 2.5rem;
}

h3 {
    font-size: 1rem;
}

/* Paragraphs */
p {
    font-size: 1rem;
}

/* Style Header */
header {
    background-color: rgb(163, 210, 226);
    padding: 10px;
    width: 100%;
    top: 0;
    
}

/* Style Nav links */
#nav ul {
    background-color: rgb(163, 210, 226);
    letter-spacing: 1px;
    list-style: none;
    text-align: right;
}

#nav > li {
    margin-bottom: 1em;
}

/* Nav Toggle */
#nav-toggle {
    display: none;
}

.nav.toggle-label {
    font-size: 2rem;
}

a {
    color:hsl(0, 14%, 4%);
}

a:hover {
    color: hsl(0, 14%, 4%);
    border-bottom: 2px solid;
}

.active {
    border-bottom: 2px solid hsl(0, 14%, 4%);
}


/* Style Table */
table {
    font-size: 15px;
    color: hsl(0, 14%, 4%);
    border-collapse: collapse;
    border: 2px solid;
    border-bottom: 2px solid;
}

/* Style footer section */
footer {
    text-align: center;
}
#social-networks {
    text-align: center;
    padding: 20px;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
}

#social-networks {
    font-size: medium;
    padding: 2.5%;
    color:hsl(0, 14%, 4%)
}

/* Responsive Styles - Media Query for screens that are at least 576px wide */

/* Responsive Styles - Media Query for screens that are 980px and above */
@media screen and (min-width: 980px) {
    #nav {
        height: 40px;
    }

    #nav ul,
    #header {
        display: flex;
    }

    #logo {
        flex-grow: 1;
    }

    #header div {
        width: 50px;
    }
}